<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link rel="shortcut icon" type="image/x-icon" href="src/ikon.png" />
    <link href="css/styles.css" rel="stylesheet">

</head>
<body>
    <div>
        <form action="/main">
            <input type="text" placeholder="Felhasználónév"/><br>
            <input type="password" placeholder="Jelszó"><br><br>

            <button type="submit">Belépés</button><br>
            <a href="/register">Regisztráció</a>
        </form>

    </div>
</body>
</html>