<!DOCTYPE html>
<html lang="en" xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link rel="shortcut icon" type="image/x-icon" href="src/ikon.png" />
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div>
        <form action="/main" method="post" th:object="${loginRequest}">
            <input type="text" name="nev" placeholder="Felhasználónév" required><br>
            <input type="password" name="jelszo" placeholder="Jelszó" title="Írd be a jelszavad" required><br><br>

            <button type="submit" name="login">Belépés</button><br>
            <a href="/register">Regisztráció</a>
        </form>
    </div>
</body>
</html>