<!DOCTYPE html>
<html lang="en" xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <link href="css/main_styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />

</head>
<body>
    <section class="fej">
        <div class="profil">
            <h3>Szia <span th:text="${id}"></span></h3>
            <h3>Szia <span th:text="${atadott_nev}"></span></h3>
            <a href="/">Vissza</a>
        </div>
        <div class="cim">
            <h2 id="focim">Ez itt egy Angol-gyakorló alkalmazás tutorial</h2>
        </div>
    </section>

    <section class="tartalom">
        <div class="filler">
            <!-- Ide nem jön majd semmi, ez csak úgy van itt -->
        </div>

        <div>
            <div class="rogzites">
                <a href="/new" id="gomb">+</a>
                <span>Új szótár rögzítése</span>
            </div>

            <div class="col-sm-5" align="center">
                <div class="panel-body" align="center" >
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Azonosító</th>
                            <th>Megnevezés</th>
                            <th>Szavak</th>
                            <th>Játszva</th>
                            <th colspan="2">Műveletek</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="vocabulary : ${given_list}">
                            <td th:text="${vocabulary.id}">ID</td>
                            <td th:text="${vocabulary.megnevezes}">Megnevezés</td>
                            <td th:text="${vocabulary.szavak}">Szava</td>
                            <td th:text="${vocabulary.jatszva}">Játszva</td>
                            <td> Szerkeszt </td>
                            <td> Törlés </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="filler">
            <!-- Ide nem jön majd semmi, ez csak úgy van itt -->
        </div>
    </section>
</body>
</html>