<!DOCTYPE html>
<html lang="en" xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>
    <div>
        <form method="post" action="/register" th:object="${modell_minta}">
            <input type="text" name="nev" placeholder="Felhasználónév"/><br>
            <input type="email" name="email" placeholder="E-mail cím"/><br>
            <input type="password" name="jelszo" placeholder="Jelszó"/><br><br>

            <button type="submit">Regisztrál</button><br>
            <a href="/">Vissza</a>
        </form>
    </div>
</body>
</html>