<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="shortcut icon" type="image/x-icon" href="src/ikon.png" />
</head>
<body>
    <form >
        <input type="text" placeholder="Felhasználónév"/><br>
        <input type="email" placeholder="E-mail cím"/><br>
        <input type="password" placeholder="Jelszó"/><br><br>

        <input type="submit" value="Regisztrál"/>
    </form>



    <a href="/">Vissza</a>
</body>
</html>